In [1]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\vonke\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [506]:
import pandas as pd

url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
shark_df = pd.read_excel(url)

In [507]:
shark_df = shark_df.drop(['pdf', 'href formula','href','Case Number','Case Number.1','original order','Unnamed: 21','Unnamed: 22','Unnamed: 11','Source'], axis=1)

In [508]:
shark_df = shark_df.dropna(how='all')

In [509]:
shark_df = shark_df.dropna(subset=['Country', 'State', 'Location'])

In [510]:
shark_df.columns = shark_df.columns.str.lower()

In [529]:
shark_df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'time', 'species '],
      dtype='object')

# 1. Clean cloumn Year

In [530]:
# Check how many empty cells are in column year
shark_df['year'].isna().sum()

0

In [531]:
# Only one empty cell in cloumn year, so we can replace with the Mode of column year
shark_df.year.fillna(shark_df.year.mode()[0], inplace=True)

In [532]:
# See if in column year, are any irregularities
shark_df['year'].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014,
       2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003,
       2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1984, 1994, 1993,
       1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1983, 1982, 1981,
       1980, 1979, 1978, 1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970,
       1969, 1968, 1967, 1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959,
       1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951, 1950, 1949, 1948,
       1848, 1947, 1946, 1945, 1944, 1943, 1942, 1941, 1940, 1939, 1938,
       1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930, 1929, 1928, 1927,
       1926, 1925, 1924, 1923, 1922, 1921, 1920, 1919, 1918, 1917, 1916,
       1915, 1914, 1913, 1912, 1911, 1910, 1909, 1908, 1907, 1906, 1905,
       1904, 1903, 1902, 1901, 1900, 1899, 1898, 1897, 1896, 1895, 1894,
       1893, 1892, 1891, 1890, 1889, 1888, 1887, 1886, 1885, 1884, 1883,
       1882, 1881, 1880, 1879, 1878, 1877, 1876, 1875, 1874, 1873, 1872,
       1871, 1870, 1869, 1868, 1867, 1866, 1865, 1864, 1863, 1862, 1861,
       1860, 1859, 1858, 1857, 1856, 1855, 1853, 1852, 1851, 1850, 1849,
       1847, 1846, 1845, 1842, 1841, 1840, 1839, 1837, 1835, 1834, 1832,
       1831, 1830, 1829, 1828, 1827, 1826, 1825, 1822, 1817, 1816, 1812,
       1810, 1808, 1807, 1805, 1804, 1803, 1791, 1788, 1785, 1780, 1779,
       1767, 1749, 1755, 1748, 1738, 1733, 1721, 1703, 1700, 1691, 1640,
       1637, 1617, 1642, 1595, 1518, 1000])

In [533]:
# Change all strings to integers
shark_df['year'] = shark_df['year'].astype(int)

In [534]:
# Filter DataFrame for years with less than 4 chracters
condition = shark_df['year'].astype(str).apply(len) < 4
filtered_df = shark_df[condition]
filtered_df

Empty DataFrame
Columns: [date, year, type, country, state, location, activity, name, sex, age, injury, time, species ]
Index: []

In [535]:
# Get the unique value of these cells
result = shark_df['year'].unique()
smaller_than_4 = [value for value in result if len(str(value)) < 4]
print(smaller_than_4)

[]

In [536]:
# Replace these values with the Mode of the column year
for item in smaller_than_4:
    shark_df['year'] = shark_df['year'].replace(item, shark_df.year.mode()[0])

In [537]:
# Check again for irregularities
shark_df['year'].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014,
       2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003,
       2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1984, 1994, 1993,
       1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1983, 1982, 1981,
       1980, 1979, 1978, 1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970,
       1969, 1968, 1967, 1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959,
       1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951, 1950, 1949, 1948,
       1848, 1947, 1946, 1945, 1944, 1943, 1942, 1941, 1940, 1939, 1938,
       1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930, 1929, 1928, 1927,
       1926, 1925, 1924, 1923, 1922, 1921, 1920, 1919, 1918, 1917, 1916,
       1915, 1914, 1913, 1912, 1911, 1910, 1909, 1908, 1907, 1906, 1905,
       1904, 1903, 1902, 1901, 1900, 1899, 1898, 1897, 1896, 1895, 1894,
       1893, 1892, 1891, 1890, 1889, 1888, 1887, 1886, 1885, 1884, 1883,
       1882, 1881, 1880, 1879, 1878, 1877, 1876, 1875, 1874, 1873, 1872,
       1871, 1870, 1869, 1868, 1867, 1866, 1865, 1864, 1863, 1862, 1861,
       1860, 1859, 1858, 1857, 1856, 1855, 1853, 1852, 1851, 1850, 1849,
       1847, 1846, 1845, 1842, 1841, 1840, 1839, 1837, 1835, 1834, 1832,
       1831, 1830, 1829, 1828, 1827, 1826, 1825, 1822, 1817, 1816, 1812,
       1810, 1808, 1807, 1805, 1804, 1803, 1791, 1788, 1785, 1780, 1779,
       1767, 1749, 1755, 1748, 1738, 1733, 1721, 1703, 1700, 1691, 1640,
       1637, 1617, 1642, 1595, 1518, 1000])

# 2. Clean column Date

In [538]:
# Check how many empty cells are in column date
shark_df['date'].isna().sum()

0

In [539]:
# See if in column date, are any irregularities
shark_df['date'].unique()

array(['09-Jan-2024', '05-Jan-2024', '30-Dec-2023', ..., '01-Jan-1903',
       '1900-1905', '1845-1853'], dtype=object)

In [540]:
# format
shark_df["date"] = shark_df["date"].str.replace('  ', '-').str.replace(' ', '-').str.replace('--', '-').str.replace('Reported', '').str.strip()
shark_df["date"] = shark_df["date"].apply(lambda x: x.split('-') if pd.notna(x) else []).apply(lambda date_list: '-'.join(filter(lambda x: x and len(x) <= 4, date_list)))
shark_df["date"] = shark_df["date"].apply(lambda x: x.split('-') if pd.notna(x) else []).apply(lambda date_list: '-'.join(filter(lambda x: x and len(x) <= 4, date_list)))

In [541]:

shark_df["date"] = shark_df["date"].apply(lambda x: x.split('-') if pd.notna(x) else []).apply(lambda date_list: ['01', 'Jan'] + date_list if len(date_list) == 1 and len(date_list[0]) == 4 else date_list).apply(lambda date_list: '-'.join(date_list) if date_list else '')

In [542]:
shark_df['date'].unique()

array(['09-Jan-2024', '05-Jan-2024', '30-Dec-2023', ..., '01-Jan-1903',
       '1900-1905', '1845-1853'], dtype=object)

In [543]:
#shark_df["date"] = pd.to_datetime(shark_df.date,format='%d-%m-%y')

In [544]:
# date_formats = ['%d-%m-%y', '%d-%b-%Y']

# for format in date_formats:
#     try:
#         shark_df["date"] = pd.to_datetime(shark_df["date"], format=format)
#         break  # Break out of the loop if a format is successfully applied
#     except ValueError:
#         print(f"Unable to parse dates with format {format}")
#         print("Problematic dates:")
#         print(shark_df.loc[pd.to_datetime(shark_df["date"], errors='coerce').isnull(), "date"])
#         shark_df["date"] = ''  # Set an empty string if the format is not successfully applied

# # Now, shark_df["date"] should contain the parsed dates with the correct format, or empty strings for unsuccessful cases.

In [545]:
format_1 = '%d-%m-%y'
format_2 = '%d-%b-%Y'
format_3 = '%d-%B-%Y'

try:
    shark_df["date"] = pd.to_datetime(shark_df["date"], format=format_1)
except ValueError:
    try:
        shark_df["date"] = pd.to_datetime(shark_df["date"], format=format_2)
    except ValueError:
        try:
            shark_df["date"] = pd.to_datetime(shark_df["date"], format=format_3)
        except ValueError:
            print(f"Unable to parse dates with formats {format_1}, {format_2}, and {format_3}")
            print("Problematic dates:")
            problematic_dates = shark_df.loc[pd.to_datetime(shark_df["date"], errors='coerce').isnull(), "date"]
            print(problematic_dates)
            shark_df["date"] = ''  # Set an empty string if the formats are not successfully applied

Unable to parse dates with formats %d-%m-%y, %d-%b-%Y, and %d-%B-%Y
Problematic dates:
63                          14-June-2023
207                               11-Dec
212                          15-Nox-2021
373                           10-Jul-202
592                               09-Jul
                      ...
6911                             No-date
6912                           1920-1923
6919    No-date-(3-days-&-to-19-Jul-1913
6929                           1900-1905
6931                           1845-1853
Name: date, Length: 535, dtype: object

In [550]:
shark_df["date"]

0
1
2
3
4
       ..
6922
6926
6927
6929
6931
Name: date, Length: 6132, dtype: object

In [547]:
shark_df['date'].isna().sum()

0

In [ ]:
# Filter DataFrame  with less than 4 chracters
condition = shark_df['date']
filtered_df = shark_df[condition]
filtered_df